* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%; /* 16px */
}
body {
  width: 100%;
  font-family: 'Raleway';
}
img {
  max-width: 100%;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
.content {
  width: 75rem;
  margin: 0 auto;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url('../img/bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 0;
  font-size: 1.25rem;
  font-family: 'rodchenko';
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
nav a:hover {
  color: #CB272B;
}
.header__title {
  display: flex;
  justify-content: flex-end;
  width: 56%;
  margin-top: 30vh;
  padding: 4rem 5rem 0 0;
  background-color: #91BEE4;
}
.header__block {
  position: relative;
}
h1 {
  font-size: 3.8rem;
  font-family: 'rodchenko';
  letter-spacing: 0.3rem;
}
.header__block p {
  padding: 1rem 0 4rem 0;
  font-size: 1.55rem;
}
.header__block a {
  position: absolute;
  left: 0;
  bottom: -2rem;
  padding: 1rem 3rem;
  font-size: 1.37rem;
  background-color: #DEBA3A;
}

#general {
  width: 100%;
  background-image: url('../img/bot_bg.png');
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}
.general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.general__text {
  width: 45%;
}
#general img {
  padding: 10rem 0;
  width: 50%;
}
.general__text-title {
  font-size: 2.25rem;
  font-family: 'rodchenko';
  line-height: 140%;
}
.general__text-article {
  font-size: 1.37rem;
  line-height: 170%;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.general__text a {
  padding: 1rem 3rem;
  font-size: 1.37rem;
  background-color: #DEBA3A;
}
form {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.form__title {
  width: 100%;
  font-family: 'rodchenko';
  font-size: 2.25rem;
  padding-bottom: 1rem;
  text-align: center;
}
.form__text {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.37rem;
  line-height: 170%;
}
.form__name {
  padding: 1rem 0;
  font-size: 1.37rem;
}
.input__text {
  padding: 1rem;
  width: 100%;
  border: 1px solid #D7D7D7;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.form__button {
  width: 40%;
  padding: 1rem 0;
  margin: 2rem 30%;
  border: 0;
  font-size: 1.37rem;
  background-color: #DEBA3A;
}
input {
  outline: none;
}

#map {
  width: 100%;
  height: 70vh;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 87%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 82.5%;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 2vw;
  }
  .content {
    width: 90%;
  }
}
@font-face {
	font-family: 'rodchenko';
	src: url('../fonts/rodchenko.ttf');
	font-weight: normal;
	font-style: normal;
}
